<li>
    <%= ratingContent %> 
    <%= commentText %> 
</li>

<!-- <div class="">
    <span>
        <%= course.subject %> 
        <%= course.coursenum %> 
        <%= course.term %> 
    </span>
    <strong><%= course.name %></strong>
    
</div> -->


